#managerApp {
  // display: flex;
  // @include fill();
  // overflow: hidden;
  // overflow-x: auto;
  // min-width: 1300px;
  // background: linear-gradient(
  //   45deg,
  //   $leftmenuBgColor,
  //   lighten($leftmenuBgColor, 5%),
  //   lighten($leftmenuBgColor, 15%)
  // );
}

.CQKMX,
.YHKGL {
  .icon-input {
    width: 240px;
  }
}
.icon-input {
  .form-control {
    width: 97% !important;
  }
}

.table-render-container {
  position: relative;
  top: 0;
  padding-top: 0.1px;
  .table-container {
    overflow: auto;
  }
}
.card-content {
  background-color: #FFF;
  padding-top: 0.1px;
}
.help-editor {
  .helper-list {
    padding: 5px;
    border: 3px solid #eee;
    .group-title {
      padding: 5px;
    }
    .group-items {
      display: flex;
      align-content: center;
    }
    ._btn {
      display: inline-block;
      padding: 5px;
      &.active {
        color: $themeColor;
      }
    }
  }
}
@keyframes warning {
  from {
    background-color: #fff;
    color: #333;
  }

  to {
    background-color: $colorRed;
    color: #fff;
  }
}

.CPYKBJ {
  // padding: 10px;

  .table-scroll {
    height: auto;
    max-height: 300px;
    overflow: hidden;
  }
}

.YHZBLB {
  padding-bottom: 50px;
}

.JSGL,
.YHZBGL,
.YHZBLB {
  .table-scroll {
    height: 45vh;
  }
  .form-group,
  .item {
    &.whole-display {
      display: block !important;
      width: 100% !important;
      & > .show {
        z-index: 0 !important;
        .menu-list {
          box-shadow: none;
        }
      }
      .cateroy-title {
        padding: 3px 10px !important;
      }

      .title {
        // display: none;
        // display: block;
      }

      .dropdown-menu {
        border: none !important;
      }

      .active-item {
        display: none;
        background-color: transparent !important;
      }

      .section-mark {
        display: none !important;
      }

      .dropdown-menu {
        width: 100%;
        overflow-x: auto;
      }

      .menu-list {
        height: auto !important;
        position: relative;

        .items-group {
          // max-width: 1300px;
          display: flex;

          .menu-item {
            font-size: 13px;
            height: auto;
            line-height: normal;
            padding: 1px 10px;
          }
        }
      }
    }
  }
}

.JSGL {
  .table {
    td {
      word-break: break-all;
      white-space: wrap;
    }
  }
}

.manager-container {
  background-color: #fff;
}

.manager-container {
  @include layout();
  align-items: stretch;
}

.update-panel {
  position: fixed;
  top: 100px;
  right: 0;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 40vw;
}

.TJYHZJ {
  .update-panel {
    min-height: 200px;
  }
}

.date-helper-group {
  .date-helper-btn {
    // margin-right: 5px;
    padding: 6px 10px;
    // background-color: #EEE;
    transition: all 0.2s ease;
    display: inline-block;
    color: rgba(116, 117, 118, 1);

    &.active,
    &:hover {
      // background-color: $themeColor;
      color: $themeColor;
    }
  }
}

.v-dropdown-menu {
  display: inline-block;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  // line-height: 1.5;
}

.city-selector {
  .form-control {
    min-width: 120px !important;
  }
}

.radio-container {
  display: inline-block;
  margin-left: 5px;
}

.detail-container {
  position: relative;

  .detail-desc {
    .item {
      .c {
        &.lg {
          display: block;
          height: 300px;
          // white-space: nowrap;
          text-overflow: ellipsis;
          overflow: auto;
          white-space: normal;
          word-break: break-all;
        }
        .ball-group {
          justify-content: flex-start;
        }
        .ball {
          margin-right: 3px;
        }
      }
    }
  }

  .action-group {
    width: 100%;
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 5px 0;
    position: relative;

    .item-btn {
      margin-bottom: 5px;
      display: inline-block;
      border: 1px solid #ddd;
      padding: 5px 10px;
      background-color: #fff;
      color: #666;
      text-align: center;
    }
  }
}

.new-app-version {
  font-family: sans-serif;
  font-size: 12px;
  display: inline-block;
  color: #f35626;
  animation: jackInTheBox 3s infinite ease;
  cursor: pointer;
}

@keyframes jackInTheBox {
  0%,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@import './manager/leftmenu.scss';
@import './manager/condition.group.scss';
@import './manager/container.scss';
