@import "../node_modules/ukelli-ui/style/var.scss";

/*
 * color config
 */

$colorGold: #fcd477;
$colorRed: #f86270;
$colorGreen: #05af9a;
$colorGrey: rgba(40, 44, 52, 0.95);
$colorCyan: #03b7aa;
$colorYellow: #ffa200;
$colorBlue: #449cea;
$colorBlueLight: #23b1ed;
$colorPurple: #7375e5;
$colorPurpleLight: #a974e4;
$colorOrange: #ff9800;
$colorRedDark: #b1147a;

$colorBlackPrue: #322f28;
$colorBlack: #2e2e2f;

$themeColor: $colorBlue;

$defaultColor: #fafafa;
$warmColor: #ff9800;
$dangerColor: #ff5252;
$importantColor: #027bf5;

// $tableHeaderBgColor: #f7f7f7;
// $tableHeaderTextColor: #333;
// $tableBodyBgColor: #fff;
// $tableBodyTextColor: #333;

$mainBgColor: #f7f7f7;

/*
 * nav-menu
 */
// $navMenuBgColor: #c38181;
$containerBgColorRed: #c38181;
$containerBgColorGreen: #558a83;
$containerBgColorCyan: #459cab;
$containerBgColorOrange: #cc874b;
$containerBgColorBlue: rgba(85, 104, 138, 1);
$containerBgColorBlack: rgba(40, 44, 52, 0.95);
$containerBgColorWhile: #e6e6e6;

$navMenuBgColor: #1d2939;
$containerBgColor: $navMenuBgColor;
$navMenuWidth: 220px;
$navMenuCollapseWidth: 36px;
$navMenuItemBorderColor: #777;
$navMenuItemActiveTextColor: #000;

/*
 * Scroll bar style
 */
$lightThemeScrollBg: rgba(0, 0, 0, 0.2);
$lightThemeScrollThumb: rgba(0, 0, 0, 0.3);
$lightThemeScrollThumbHover: $themeColor;
$lightThemeScrollThumbActive: darken($themeColor, 5%);

$darkThemeScrollBg: $colorGrey;
$darkThemeScrollThumb: rgba(80, 80, 80, 0.8);
$darkThemeScrollThumbHover: darken($darkThemeScrollThumb, 3%);
$darkThemeScrollThumbActive: darken($darkThemeScrollThumb, 5%);

$borderRadius: 4px;
