$borderColor: #ddd;
$lotHelperOffsetTop: 112px;

// .highlight {
//   color: $orange;
//   font-size: 16px;

//   &.slim {
//     font-weight: lighter !important;
//   }

//   &.sm {
//     font-size: 14px;
//   }
// }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: transform 0.2s ease;

  &.top {
    transform: rotate(-180deg);
  }

  &.right {
    transform: rotate(-90deg);
  }

  &.bottom {
  }

  &.left {
    transform: rotate(90deg);
  }
}

.t-g {
  color: $green !important;
}

.t-r {
  color: $red !important;
}

.t-b {
  color: $blue !important;
}

.text-overflow {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-wrap {
  word-wrap: break-word;
  word-break: normal;
}

.cover-image {
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  background-position: 50% 50%;
  background-size: cover;
  // background-color: #317da1;
}

.section-mark {
  @include fill();
  background-color: transparent;
  transition: background-color 0.1s ease-out;
}

[class$='btn'],
[class^='btn'],
[class~='btn'] {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.form-tip {
  display: inline-block;
  margin: 0 5px;
  color: #999;
  font-size: 12px;

  &.success {
    color: #03b7aa;
  }

  &.error {
    color: #ec008c;
  }
}

.fixbg {
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  background-position: 50%;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
