
$mainColor: #ccc;
$activeColor: #fff;
$activeBorderColor: $colorRed;
$activePadding: 10px;

$hoverBgColor: rgb(140, 190, 234);

.leftmenu-response {
  // background-color: $leftmenuBgColor;
  padding-bottom: 50px;
  background: linear-gradient(
    45deg,
    $leftmenuBgColor,
    lighten($leftmenuBgColor, 5%),
    lighten($leftmenuBgColor, 15%)
  );
  // background-image: url(/images/bg/001.jpg);
  color: #c5c5c7;
  @include fill();
  width: $leftmenuWidth;
  .uke-dropdown-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .dropdown-items {
      left: 0;
      width: 70px;
    }
    .menu-wrapper {
      min-width: 60px;
      border-radius: 4px;
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      .search-input,.display-title {
        border-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .icon {
    font-size: 16px;
  }
  .action-btn-group {
    margin: 10px;
    display: flex;
  }
  .menu-header {
    position: relative;
    padding: 2px 10px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, $themeColor, darken($themeColor, 10%));
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      // text-align: center;
      color: #fff;
    }
  }
  .menulist-title {
    padding: 10px 10px;
    color: #fff;
    // margin: 10px;
    text-align: center;
    cursor: pointer;
    &.flow {
      background: linear-gradient(45deg, $colorCyan, darken($themeColor, 5%));
    }
    &.tree {
      background: linear-gradient(45deg, $colorOrange, $colorRed);
    }
  }
  ._action-btn {
    // padding: 7px 10px 6px;
    // background-color: $colorCyan;
    // border-radius: 3px;
    color: #FFF;
  }
  &.hide-menu {
    width: 0;
  }
}

.leftmenu-tree {
  .fold {
    padding: 10px 0 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(#000, 0.2);
    .fold-title {
      transition: all 0.2s ease;
    }
    .caret {
      margin-right: 10px;
    }
    .children {
      background-color: rgba($themeColor, 0.05);
      display: none;
      border-left: 1px solid transparent;
      padding-left: 5px;
    }
    // &:hover {
    //   color: $activeColor;
    // }
    &.active {
      color: $activeColor;
      background-color: rgba(#000, 0.2);
      // border-left-color: $activeBorderColor;
      // > .fold-title {
      //   margin-bottom: $activePadding;
      //   background-color: rgba(#000, 0.3);
      //   padding: 5px 5px;
      // }
      > .children {
        display: block;
        border-left-color: rgba(#BBB, 0.5);
      }
    }
    &.hide-fold {
      .caret {
        transform: rotate(-90deg);
      }
      > .fold,
      .menu {
        display: none;
      }
    }
  }
  .menu {
    padding: 8px 10px;
    cursor: pointer;
    display: block;
    transition: all ease 0.2s;
    border-left: 3px solid transparent;
    text-decoration: none;
    border-bottom: 1px solid rgba(#000, 0.1);
    .menu-tip {
      margin-right: 10px;
    }
    &:hover {
      background-color: rgba(#fff, 0.1);
      // border-left-color: $activeBorderColor;
    }
    // &:hover,
    &.active {
      padding-left: 20px;
    }
    &:hover,&.active {
      margin-left: -6px;
    }
    &.active {
      border-left-color: $activeBorderColor;
      background-color: rgba(#fff, 0.1);
      // background-color: $activeBorderColor;
      // color: #FFF;
    }
  }
}

.flow-menu-container {
  position: fixed;
  background-color: #29394a;
  // top: 0;
  width: 200px;
  transition: top ease 0.3s;
  box-shadow: 0 24px 24px rgba(#000, 0.3);
  .menu {
    padding: 10px 10px;
  }
}

.flow-mode {
  overflow-x: visible !important;
  overflow-y: auto;
  z-index: 111;
  .menu {
    border-left-width: 3px;
    &:hover {
    }
  }
  .leftmenu-tree {
    width: 100%;
    // position: relative;
    .fold {
      position: relative;
      cursor: default;
      .children {
        position: absolute;
        left: 100%;
        top: 0;
        width: 200px;
        height: auto;
        display: none;
        background-color: $leftmenuBgColor;
        .fold {
          background-color: rgba($hoverBgColor, 0.1);
        }
        .children {
          background-color: lighten($leftmenuBgColor, 10%);
        }
      }
      &.hover,
      &:hover {
        color: $activeColor;
        border-left-color: $activeBorderColor;
        background-color: rgba($hoverBgColor, 0.1);
        > .caret,
        .fold-title .caret {
          transform: rotate(-90deg);
        }
        > .children {
          display: block;
        }
      }
    }
  }
}

.tree-mode {
  overflow-y: auto;
  .leftmenu-tree {
    overflow: hidden;
    .fold {
      transition: all 0.2s ease;
      &.active {
        > .fold-title {
          margin-bottom: $activePadding;
        }
        .menu {
          display: block !important;
        }
      }
    }
  }
}
