.tabs-in-statusbar {
  max-width: 70%;
  // display: flex;
  // flex-wrap: nowrap;
  overflow-x: auto;
  .tab-item {
    display: inline-block;
    padding: 5px 10px;
    &.active {
      background-color: #fefefe;
      .text {
        color: $themeColor;
      }
    }
    &:hover {
      background-color: #fefefe;
      .close {
        opacity: 1;
      }
      .text {
        color: $themeColor;
      }
    }
  }
  .close {
    margin-left: 5px;
    opacity: 0;
    &:hover {
      color: $colorRed;
    }
  }
}

.uke-status-bar {
  display: flex;
  // margin-bottom: 10px;
  background-color: #FFF;
  box-shadow: 0 2px 2px rgba(#000, 0.1);
  display: flex;
  align-items: center;
  // justify-content: space-between;
  .icon {
    color: #777;
    &:hover {
      color: $themeColor;
    }
  }
  // .lang-selector {
  //   .uke-dropdown-menu {
  //     .menu-wrapper {
  //       min-width: 70px;
  //     }
  //   }
  // }
  .menu-actions {
    padding: 10px;
  }
  .user-info-group {
    // display: flex;
    color: #666;
    .update-config-btn {
      color: inherit;
      margin-right: 10px;
    }
    .item {
      margin: 0 5px;
    }
  }
  .item {
    margin: 0 10px;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    // padding: 20px;
    .item-btn {
      padding: 8px 10px;
      border-bottom: 1px dashed #ddd;
      margin: 5px 10px;
      &:hover {
        background-color: $userInfoItemOverBgColor;
        // border-color: darken($themeColor, 10%);
      }
    }
  }
  .user-sub-detail {
    background-color: $themeColor;
    color: #FFF;
    .avatar {
      background-color: #FFF;
      color: $themeColor;
    }
  }
  .user-info-item {
    padding: 6px 20px;
    cursor: pointer;
  }
  .hide-container {
    &:hover {
      .user-info-item {
        background-color: #FFF;
      }
      // .hide-content {
      //   // background-color: $userInfoItemOverBgColor;
      // }
    }
    .hide-content {
      position: absolute;
      right: 0;
      width: 280px;
      top: 100%;
      box-shadow: 0 6px 24px rgba(#000, 0.3);
      background-color: #fff;
    }
  }

  .avatar {
    background-color: $themeColor;
    &.sm {
      $scale: 26px;
      height: $scale;
      width: $scale;
      line-height: $scale;
      font-size: 18px;
    }
  }
}
