.report-fix-con {
  @include card();
  padding: 8px 10px;
  margin: 0;
  &.expand {

  }
  &.collapse {
    .condition-group {
      overflow: hidden;
    }
  }
}

.extend-container {
  padding: 5px 10px;
  @include card();
}

.pagin-con .btns-wrap {
  margin: 0;
}

.pagin-con, .extend-container, .table-container {
  margin: 0 !important;
  border-top: 1px solid #eaeaea;
  // border-bottom: 1px solid #EEE;
}

.pagin-con {
  padding: 5px 10px;
}

.condition-group {
  margin: 0 !important;
  margin-top: 0 !important;
  background-color: #FFF;

  .input-control {
    margin-bottom: 0;
  }
}
