@import '../mixin/theme.scss';

$userInfoItemOverBgColor: #f7f7f7;

.card,
.card-content {
  background-color: #FFF;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
}

.main-bg-color {
  // background-color: $main-bg-color;
}

.__admin_scaffold_main-container {
  background-color: rgba($main-bg-color, 0.5);
  height: 100vh;
  max-width: $admin-main-container-max-width;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 12px 24px 24px rgba($main-bg-dark-color, 0.05);
  // border-top: 2px solid $themeColor;
  @include themeGen();
}

.pages-container {
  >.common-mode {
    // padding: 0 10px;
    position: relative;
    z-index: 0;
  }
}

.__main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.__content {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex: 1;
  height: 100%;
}

.pages-container {
  overflow-y: auto;
  @include fill();
  left: $nav-menu-width;
  transition: all 0.2s ease;
  background-color: $base-bg-color;
  padding: 0 10px 0;

  // display: flex;
  .form-layout {
    background-color: #FFF;
  }

  &.hide-menu {
    left: $nav-menu-collapse-width;
  }

  .top-tab-wrapper {

    // flex: 1;
    // width: 95%;
    // max-width: 100%;
    >.tab-content {

      // box-shadow: 0 4px 10px rgba(#000, 0.05);
      .tabs-container {
        background-color: transparent;

        .tab-group {
          background-color: #fefefe;
          box-shadow: none;
          border-top: 1px solid #EEE;

          .tab {
            border-bottom: 1px solid transparent;
            margin-right: 0;

            &.active {
              border-color: $themeColor;
              background-color: #fefefe;
            }

            .tab-label {
              padding: 6px 15px;
            }
          }
        }
      }
    }
  }

  .page-content {
    padding: 0.1px 10px;
    overflow-y: auto;
    border-radius: 0 5px 5px;

    .content {
      padding: 0.01px;
    }

    .tabs-container {
      padding-top: 10px !important;
      min-height: 70vh;
    }
  }

  .hide-component {
    position: relative;
    z-index: 101;

    &:hover {
      .hide-content {
        display: block;
      }
    }

    .hide-content {
      display: none;
      position: absolute;
      top: 100%;
      left: -100%;
      background-color: #fff;
      box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
      width: 300%;
      padding: 10px;
    }
  }

  .page-router {
    padding: 0 10px;

    .tab {
      position: relative;
      display: inline-block;
      background-color: #f3f3f3;
      box-shadow: inset 0 -3px 3px rgba(#000, 0.1);
      padding: 5px 20px;
      margin-right: 5px;

      .text {
        display: inline-block;
        cursor: pointer;
        transition: all ease 0.2s;
      }

      .close-btn {
        position: absolute;
        right: -2px;
        top: 3px;
        z-index: 4;
        background-color: transparent;
        color: #333;
        // display: none;
        opacity: 0;
        transition: all ease 0.2s;
        transform: translateX(3px);

        &:hover {
          color: $dangerColor;
          transform: rotate(18deg);
        }
      }

      &.active {
        background-color: #fff;
        // border-color: $themeColor;
        box-shadow: 0 -1px 1px rgba(#555, 0.1);
      }

      &:hover {
        .text {
          transform: translateX(-3px);
        }

        .close-btn {
          opacity: 1;
          transform: translateX(-2px);
        }
      }
    }
  }

  .content {

    // height: 100%;
    .table-content {

      // height: 90%;
      .sub-content {
        height: 80vh;
        overflow: auto;
      }
    }
  }

  .pagin-con,
  .table-container,
  .condition-group {
    border-bottom: none;
  }

  .FEDEPLOY .icon-input {
    width: 480px;
  }
}

.theme-changer {

  // padding: 8px 20px;
  .tile {
    // display: inline-block;
    display: flex;
    // border: 1px solid #EEE;
    box-shadow: 0 2px 3px rgba(#000, 0.1);
    // margin-right: 5px;
    border-radius: 3px;
    // padding: 12px;

    &.active {
      box-shadow: 0 3px 4px rgba(#000, 0.2);
      // padding: 12px;
    }
  }
}

@media screen and (max-width: 1441px) {
  .pages-container .admin-status-bar .user-info-group {
    max-width: 46%;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1300px) {
  .pages-container .admin-status-bar .user-info-group {
    max-width: 38%;
  }
}

// @media screen and (min-width: $admin-main-container-max-width) {
//   .__admin_scaffold_main-container {
//     transform: translateY(30px);
//     height: cula(100vh - 30);
//   }
// }
