/** 设置颜色 */
.nav-menu-wrapper {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  background-color: rgba(#FFF, 0.9);
  height: 100%;
  padding-top: 20px;
}

.nav-menu-response {
  color: $menu-text-color;
}

.nav-menu-tree {
  .fold {
    &.active {
      color: $menu-active-text-color;

      >.children {
        border-left-color: rgba(#BBB, 0.5);
      }
    }

    // &:hover {
    //   background-color: rgba(#000, 0.03);
    // }
  }

  >.menu,
  .fold {
    // border-bottom: 1px solid rgba(#000, 0.05);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .menu {
    .menu-tip {
      color: #999;
    }

    &.active {
      color: $themeColor;

      &::after {
        background: $themeColor;
        opacity: 0.6;
      }

      .menu-tip {
        color: $themeColor;
      }
    }
  }
}

.flow-menu-container {
  background-color: $nav-menu-bg-color;
  box-shadow: 0 12px 24px rgba(#000, 0.3);
}

.flow-mode {
  .nav-menu-tree {
    .fold {
      .children {
        background-color: $nav-menu-bg-color;

        .fold {
          background-color: $menu-hover-bg-color;
        }

        .children {
          background-color: lighten($nav-menu-bg-color, 10%);
        }
      }

      &.hover,
      &:hover {
        color: $menu-active-text-color;
        border-left-color: $menu-active-border-color;
        background-color: $menu-hover-bg-color;
      }
    }
  }
}

.nav-menu-wrapper {
  // @include fill();
  z-index: 101;
  transition: width ease 0.2s;
  overflow-y: auto;
  overflow-x: hidden;

  &.show {
    width: $nav-menu-width;
  }

  &.collapse {
    width: $nav-menu-collapse-width;
    overflow: hidden;

    // padding: 0 10px;
    &:hover {
      // overflow: auto;
      overflow-y: scroll;
      width: $nav-menu-width;
      // background: $nav-menu-bg-color;
      box-shadow: 4px 0 20px rgba(#000, 0.1);
    }
  }
}

/** 设置布局 */
.nav-menu-response {
  padding-bottom: 50px;
  width: $nav-menu-width;

  &.hide-menu {
    width: 0;
  }
}

.nav-menu-tree {
  .icon {
    font-size: 14px;
  }

  .menu-icon {
    width: 26px;
    // color: #888;
  }

  >.menu {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal;
  }

  .direct {
    transition: transform ease 0.3s;
  }

  .fold {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal;
    cursor: pointer;

    .item-icon {
      width: 18px;
    }

    .fold-title {
      transition: transform 0.2s ease, margin 0.2s ease;
    }

    .caret {
      margin-right: 10px;
    }

    .children {
      display: none;
    }

    &.active {
      >.children {
        display: block;
        border-left-color: rgba(#BBB, 0.5);
      }

      .direct {
        transform: rotate(90deg);
      }
    }

    &.hide-fold {
      .caret {
        transform: rotate(-90deg);
      }

      >.fold,
      .menu {
        display: none;
      }
    }

    .menu {
      padding: $menu-item-padding-vertical 0 $menu-item-padding-vertical 26px;
      transition: padding ease 0.2s;
      margin: 3px 0;
      color: #666;
      &::after {
        right: 0;
      }
    }
  }

  .menu {
    padding: $menu-item-padding-vertical $menu-item-padding-horizontal;
    cursor: pointer;
    display: block;
    // transition: all ease 0.2s;
    text-decoration: none;
    position: relative;

    &::after {
      background: $gray;
      content: "";
      height: 7px;
      width: 7px;
      border-radius: 25px;
      position: absolute;
      right: $menu-item-padding-horizontal;
      top: 14px;
      opacity: 0.5;
    }

    &:hover {
      // background-color: $menu-hover-bg-color;
      color: #000;

      &::after {
        background: $themeColor;
        opacity: 0.4;
      }
    }
  }
}

.flow-menu-container {
  position: fixed;
  transition: top ease 0.3s;
  display: none;

  &.show {
    width: 200px;
    padding: 5px 10px;
    display: block;
  }
}

.flow-mode {
  overflow-x: visible !important;
  overflow-y: auto;
  z-index: 111;

  .nav-menu-tree {
    width: 100%;

    .fold {
      position: relative;
      cursor: default;
      padding: $menu-item-padding-vertical 10px;

      .children {
        position: absolute;
        left: 100%;
        top: 0;
        width: 200px;
        height: auto;
        display: none;
      }

      &.hover,
      &:hover {

        >.caret,
        .fold-title .caret {
          transform: rotate(-90deg);
        }

        >.children {
          display: block;
        }
      }
    }
  }
}

.tree-mode {
  .nav-menu-tree {
    overflow: hidden;

    .fold {
      transition: all 0.2s ease;

      &.active {
        >.fold-title {
          margin-bottom: $fold-active-margin;
        }

        .menu {
          display: block !important;
        }
      }
    }
  }
}
