@include scrollBar(5px, 5px, '.nav-menu-wrapper');

.admin-status-bar {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 0 4px 4px rgba($main-bg-dark-color, 0.05);
  background-color: $main-bg-color;
  position: relative;
  z-index: 111;

  .title {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
  }

  .action-group {
    display: flex;
    align-items: center;
    position: relative;
  }

  ._action-btn {
    padding: 5px 15px 5px 5px;
  }

  .status-container {
    margin-right: 10px;
    padding: 5px 0;
  }

  .item {
    // padding: 0 10px;
    padding: 5px 0;
    min-width: 40px;
    display: inline-block;
    text-align: center;

    &:hover {

      // color: $themeColor;
      .icon {
        color: $themeColor;
      }
    }
  }
}
