.extend-container {
  padding: 5px 10px;
  @include card();
}

.pagin-con, .extend-container, .table-container {
  margin: 5px 0 !important;
}

.condition-group {
  margin: 0 !important;
  margin-top: 0 !important;

  .input-control {
    margin-bottom: 0;
  }

  .datetimeRange {
    display: flex !important;
    >.title {
      display: block;
      word-break: keep-all;
      margin-right: 0;
    }
  }
}
