@import "@deer-ui/core/style/var.scss";

// scaffold

$admin-main-container-max-width: 1980px;

/*
 * color config
 */

$themeColor: $blue;

$base-bg-color: #edf1f7;

$main-bg-color: #FFF;
$main-bg-dark-color: #333;

$nav-menu-bg-color: #1d2939;
$nav-menu-width: 220px;
$nav-menu-collapse-width: 36px;
$nav-menu-item-border-color: #777;
$nav-menu-item-active-text-color: #000;

/*
 * Scroll bar style
 */
$lightThemeScrollBg: rgba(0, 0, 0, 0.2);
$lightThemeScrollThumb: rgba(0, 0, 0, 0.3);
$lightThemeScrollThumbHover: $themeColor;
$lightThemeScrollThumbActive: darken($themeColor, 5%);

$darkThemeScrollBg: $gray;
$darkThemeScrollThumb: rgba(80, 80, 80, 0.8);
$darkThemeScrollThumbHover: darken($darkThemeScrollThumb, 3%);
$darkThemeScrollThumbActive: darken($darkThemeScrollThumb, 5%);
