.multiple-selector {
  display: flex;
  border: 1px solid #EEE;
  position: relative;
  // z-index: 111;
  padding: 5px;
  .item-group {
    margin-right: 10px;
    position: relative;
    // padding: 10px;
    &:hover {
      .items {
        display: block;
      }
    }
    &.active {
      >.title {
        color: #FFF;
        background-color: $themeColor;
      }
    }
    .title {
      padding: 4px 10px;
      border-radius: 3px;
    }
    .items {
      background-color: #FFF;
      .item {
        padding: 1px 10px;
        cursor: pointer;
        &:hover {
          background-color: #EEE;
        }
        &.active {
          color: darken($themeColor, 10%);
        }
      }
    }
  }
}